/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Font */

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

/* Prevents Error Display on Browser Screen */

/*
iframe {
    display: none;
}

*/

/* Overall Styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    font-family: 'roboto';
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

.hidden {
    top: 0;
    left: 0;
    pointer-events: none !important;
    position: absolute !important;
    max-height: 0 !important;
    transition: max-height 1s ease-out !important;
    opacity: 0 !important;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em 0.8em 1em;
    background-color: #233647;
    color: #eaebec;
}

/* Sidebar */

sidebar {
    padding: 0.8em 1.8em 0.8em 1.8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #1b2a37;
    color: #cccccc;
    box-shadow: inset 0 9px 9px -9px #233647;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

hr {
    border-color: #9fa0a1;
    background-color: #9fa0a1;
    color: #9fa0a1;
    width: 100%;
    border-top: 1px;
}

#project {
    display: flex;
    flex-direction: column;
}

#project-input {
    border: none;
    border-radius: 2px;
    background-color: white;
}

#project-input::--webkit-input-placeholder {
    color: black;
}

.sidebar-buttons,
.sidebar-project-button,
#add-task {
    padding: 0.5em;
    background: none;
    border: none;
    border-radius: 4px;
    font-family: 'roboto';
    color: #eaebec;
    width: 100%;
    text-align: start;
}

.sidebar-buttons:hover,
.sidebar-project-button:hover,
#add-task:hover {
    background-color: #2d4356;
    cursor: pointer;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-grow: 1;
    box-shadow: inset 0 9px 9px -9px #233647;
    background-color: #192734;
    color: #eaebec;
}

#task-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 5%);
    z-index: 9;
    border-radius: 10px;
}

#form-container {
    max-width: 280px;
    padding: 20px;
    background-color: #192734;
    border-radius: 20px;
    font-family: 'roboto';
}

#form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
}

#form-container input[type='text'],
#form-container input[type='date'] {
    width: 18.5em;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #233647;
    border-radius: 10px;
    font-family: roboto;
    color: #dbdbdb;
}

#title::placeholder,
#description::placeholder {
    color: #dbdbdb;
    opacity: 1; /* Firefox */
}

#title::-ms-input-placeholder,
#description::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dbdbdb;
}

#title::-ms-input-placeholder,
#description::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dbdbdb;
}

#title::-webkit-calendar-picker-indicator,
#description::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.task-form-button-div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.task-form-button {
    margin-top: 1em;
    border: none;
    border-radius: 2px;
    height: 2em;
    width: 100%;
    color: #dbdbdb;
    font-weight: bold;
}

#submit {
    background-color: #1f8d4d;
}

#submit:hover {
    cursor: pointer;
    background-color: #1c7842;
}

#cancel {
    background-color: #be0404;
}

#cancel:hover {
    cursor: pointer;
    background-color: #a50505;
}

#add-task {
    font-size: 1em;
}

/* Main Content */

main-content {
    padding: 0.8em 1.8em 0.8em 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-form {
    display: grid;
}

/* Footer */

footer {
    background-color: #233647;
    padding: 0.8em 1em 0.8em 1em;
}

#github-link {
    text-align: center;
    color: black;
    text-decoration: none;
    color: #eaebec;
}

#github-link:hover {
    color: #d2d4d5;
    text-decoration: none;
}
